@import 'config';

.beloved-block {
  background:$main-white;
  width:25rem;
  height:18rem;
  font-size:3rem;
  font-weight:bolder;
  display:grid;
  margin-top:4.5rem;
  border-radius:.1rem;

  &:after {
    content:'';
    width:35rem;
    height:23rem;
    position:absolute;
    background:$sombra;
    filter:blur(3px);
    opacity:.6;
    z-index:-1;
  }
}
