@import 'config';

.beloved-block {
  background:$main-white;
  width:21rem;
  height:15rem;
  font-size:3rem;
  font-weight:700;
  display:grid;
  margin-top:7rem;

  &:after {
    content:'';
    width:24rem;
    height:24rem;
    position:absolute;
    background:$sombra;
    filter:blur(3px);
    z-index:-1;
  }
}
