$main-font:'Montserrat',
sans-serif;

$main-white:#D8D6D6;
$white-overtone:#E8E3E3;

$sombra:#9E9999;
$black-overtone:rgba(31, 25, 26, .37);

$main-black:#1F191A;
$emphasys:#115BC0;

$nevoa:rgba(42, 35, 35, .5);

$dark-white:linear-gradient(45deg, #2A2323 0%, rgba(42, 35, 35, .3) 100%);
$bilhete:polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
