@import 'config';

.generator {
  background:$white-overtone;
  width:33rem;
  height:27rem;
  overflow-y:auto;
  padding:1.5rem 2rem;

  div {
    display:grid;
    gap:1.3rem;

    h1 {
      font-size:1.3rem;
      letter-spacing:1px;
    }

    p {
      display:flex;
      justify-content:left;
      align-items:center;
      gap:.8rem;

      &.borrado:after {
        content:'';
        position:absolute;
        width:10.7rem;
        margin-left:-.2rem;
        height:3rem;
        background:$main-white;
        opacity:1;
        filter:blur(1px);
      }
    }
  } 

  input:focus {
    outline: none;
  }

  label {
    background:$main-black;
    color:$main-white;
    padding:.5rem;
    border-radius:.2rem;
  }

  input[type='color'] {
    width:2.5rem;
    height:2.5rem;
    border:1px solid $black-overtone;
  }

  input[type='range'] {
    -webkit-appearance:none;
    width:10.2rem;
    height:.8rem;
    background:$dark-gradient;
    outline:none;
    border:.15rem solid $main-black;
    margin-top:-.5rem;

    &::-webkit-slider-thumb {
      -webkit-appearance:none;
      appearance:none;
      background:$main-white;
      border:.1rem solid $main-black;
      border-radius:.2rem;
      width:.5rem;
      height:1.2rem;
    }

    &::-moz-range-thumb {
      background:$main-white;
      border:.1rem solid $main-black;
      border-radius:.2rem;
      width:.5rem;
      height:1rem;
    }
  }

  article {
    display:flex;
    gap:4rem;

    h1 {
      font-size:.8rem;
      font-weight:bolder;
      opacity:1;
    }
    div {
      gap:1rem;
    }
  }
}
