@import 'config';

.generator {
  background:$white-overtone;
  width:33rem;
  height:27rem;
  overflow-y:auto;
  padding:1.5rem 2rem;
  scrollbar-width:thin;
  scrollbar-color:#7c6a6a;

  &::-webkit-scrollbar {
    width:.43rem;
  }

  &::-webkit-scrollbar-track {
    background:$white-overtone;
  }

  &::-webkit-scrollbar-thumb {
    background:$main-black;
    background:$main-black;
    border-radius:0 0 0 .1rem;
    border:.375rem solid $main-black;
  }

  select {
    height:1.5rem;
    padding-bottom:.1rem;
    border-radius:.2rem;
    background:$main-white;
    color:$main-black;
  }

  div {
    display:grid;
    gap:1.3rem;

    h1 {
      font-size:1.3rem;
      letter-spacing:1px;
    }

    p {
      display:flex;
      justify-content:left;
      align-items:center;
      gap:.8rem;

      &.borrado:after {
        content:'';
        width:10.7rem;
        margin-left:-11.3rem;
        height:3rem;
        background:$main-white;
        opacity:1;
        filter:blur(1px);
      }
    }
  } 

  input:focus {
    outline:none;
  }

  label {
    background:$main-black;
    color:$main-white;
    padding:.5rem;
    border-radius:.2rem;
    cursor:pointer;

    &.copied:after {
      content:'copied';
      background:$emphasys;
      padding:.3rem .6rem;
      color:$main-white;
      font-size:1rem;
      top:8.9rem;
      right:.5rem;
      position:fixed;
      border-radius:0 0 .2rem .2rem;
      cursor:initial;
    }
  }

  input[type='color'] {
    width:2.5rem;
    height:2.5rem;
    border:1px solid $black-overtone;
  }

  input[type='range'] {
    -webkit-appearance:none;
    background:$main-black;
    outline:none;

    &::-webkit-slider-thumb {
      -webkit-appearance:none;
      appearance:none;
      border-radius:.2rem;
      background:$main-white;
    }

    &::-moz-range-thumb {
      background:$main-white;
    }
  }

  article {
    display:flex;
    gap:4rem;

    h1 {
      font-size:.8rem;
      font-weight:bolder;
      opacity:1;
    }
    div {
      gap:1rem;
    }
  }

  .large-range {
    margin-top:1.9rem;
    width:24.7rem;

    input[type='range'] {
      width:24.7rem;
      height:.8rem;
      border-radius:.15rem;

      &::-webkit-slider-thumb {
        border:.1rem solid $main-black;
        width:.7rem;
        border-radius:.3rem;
        height:2.1rem;
      }
    
      &::-moz-range-thumb {
        border:.1rem solid $main-black;
        border-radius:.8rem;
        width:.7rem;
        height:2.1rem;
      }
    }

    span {
      background:$main-black;
      color:$main-white;
      padding:.25rem .15rem;
      border-radius:.2rem;
      font-size:.8rem;
      margin-top:-.3rem;
      border:.14rem solid $emphasys;
      position:relative;
      text-align:center;
      max-width:3.7rem;

      &.span-width, &.span-height, &.span-size {
        left:85%;
      }

      &.span-radius, &.span-padding, &.span-spacing {
        left:0%;
      }
    }
  }

  .normal-range {
    margin-top:1.9rem;
    display:grid;
    gap:1.5rem;
    flex-wrap:wrap;

    h1 {
      justify-self:left;
      font-size:1.3rem;
    }

    div {
      display:flex;
      justify-content:top;
      gap:2rem;
      flex-wrap:wrap;
    }

    input[type='range'] {
      width:8rem;
      height:.6rem;
      border-radius:.15rem;
  
      &::-webkit-slider-thumb {
        border:.1rem solid $main-black;
        width:.5rem;
        border-radius:.3rem;
        height:1.5rem;
      }
  
      &::-moz-range-thumb {
        border:.1rem solid $main-black;
        border-radius:.8rem;
        width:.7rem;
        height:2.1rem;
      }
    }

    p:first-child {
      width:8rem;
      display:flex;
      flex-wrap:wrap;
    }

    .valueBorder {
      background:$main-black;
      border:.15rem solid $emphasys;
      color:$main-white;
      padding:.2rem;
      font-size:.6rem;
      border-radius:.2rem;
      position:relative;
      left:0%;
      width:2.7rem;
      display:grid;
      place-items:center;
    }

    select {
      margin-top:-.5rem;
    }

    .color-acessa {
      margin-top:-2.4rem;
    }

    .ajuste-bordas {
      display:flex;
      gap:.4rem;
      margin-top:-1rem;
      margin-bottom:.5rem;

      button {
        background:$main-black;
        width:2rem;
        border-radius:.2rem;
        height:2rem;
        cursor:pointer;
        opacity:1;
        padding:0;
        display:flex;
        justify-content:center;
        align-items:center;

        &.off {
          opacity:.6;
        }
        
      }
    }

  }
}
