@import 'config';

.gradient {
  overflow:hidden;
  padding-bottom:1rem;

  .gg-t {
    margin-top:.5rem;

    #gradient1, #gradient2 {
      background:$main-black  !important;
      border:none;
    }

    .span-gradient1, .span-gradient2 {
      background:$main-black;
      color:$main-white;
      border-radius:.2rem;
      font-size:.7rem;
      margin-top:-.5rem;
      border:.14rem solid $emphasys;
      position:relative;
      text-align:center;
      width:2.1rem;
      padding:.15rem 0;
    }

    .span-gradient2 {
      left:85%;
    }
  }

  &.close {
    height:2rem;
    overflow:hidden;
  }

  input[type='range'] {
    background:$dark-gradient;
    width:10.2rem;
    height:.8rem;
    border:.15rem solid $main-black;
    margin-top:-.5rem;
    border-radius:.2rem;

    &::-webkit-slider-thumb {
      border:.1rem solid $main-black;
      width:.5rem;
      height:1.2rem;
    }

    &::-moz-range-thumb {
      border:.1rem solid $main-black;
      border-radius:.2rem;
      width:.5rem;
      height:1rem;
    }
  }

  button {
    cursor:pointer;
    background:none;

    &:focus {
      outline:none;
    }
  }

  .titleGradient {
    font-weight:bolder;
    opacity:.8;
    font-size:1rem;
    justify-self:left;
    transition:.2s;
    display:grid;
    margin-top:-.5rem;
    cursor:pointer;
    user-select:none;

    &:hover, &.open, &.open:before, &:before, &:after {
      opacity:1;
      transition:.2s;
    }

    &:before, &:after {
      content:'';
      background:$main-black;
      width:.8rem;
      height:.1rem;
      opacity:.8;
      display:block;
      position:relative;
      top:.7rem;
      margin-top:1rem;
      margin-left:8.7rem;
    }

    &:before {
      margin-top:.6rem;
    }

    &:after {
      margin-top:-1.3rem;
      transform:rotate(90deg);
    }

    &.open:after {
      opacity:0;
    }
  }

  p {
    display:flex;
    flex-wrap:wrap;
    gap:.5rem;

    button {
      border-radius:.2rem;
      padding-bottom:.15rem;
      font-size:1.1rem;
      border:.1rem solid $black-overtone;

      &.active {
        background:$main-black;
        color:$main-white;
      }
    }
  }

  .angulos {
    width:12rem;
    display:grid;
    gap:.8rem;

    h1 {
      font-weight:600;
      font-size:.8rem;
    }

    &.radial:after {
      content:'';
      display:block;
      background:$main-white;
      opacity:.6;
      border-radius:.3rem;
      width:11.6rem;
      filter:blur(2px);
      height:9rem;
      margin-top:-9.5rem;
      margin-left:-.45rem;
    }
  }

  .color12 {
    width:90%;
  }
}
