@import 'config';

@media (max-width:79rem) {
  body {
    width:100vw;

    label {
      &.copied:after {
        opacity:0 !important;
        display:none !important;
      }
    } 

    header {
      margin-top:1.5rem;

      a {
        right:0rem !important;
        margin-left:0;
      }
    }

    main {
      gap:3.5rem;
      margin-bottom:5rem;
    }

    section {
      display:grid;
      place-items:center;
      gap:3rem;

      article {
        &.block {
          margin-top:0;
        }
      }

      .beloved-block {
        margin-top:0;

        &:after {
          height:20rem;
          width:33rem;
        }
      }
      
      .generator {
        overflow:hidden;
        height:auto;
      }
    }

  }
}

@media (max-height:37.5rem) {
  body {
    width:100vw;

    label {
      &.copied:after {
        opacity:0 !important;
        display:none !important;
      }
    }

    header {
      margin-top:1.5rem;

      a {
        right:0rem !important;
        margin-left:0;
      }
    }

    main {
      gap:3.5rem;
      margin-bottom:5rem;
    }

    section {
      display:grid;
      place-items:center !important;
      gap:3rem;

      article {
        &.block {
          margin-top:0;
        }
      }

      .beloved-block {
        margin-top:0;

        &:after {
          height:20rem;
          width:33rem;
        }
      }

      .generator {
        overflow:hidden;
        height:auto;
      }
    }

  }
}

@media (max-width:37.5rem) {
  body {
    header {
      width:95vw;
      display:grid;

      h1, span {
        justify-self:left;
      }

      h1 {
        font-size:2rem;
      }

      span {
        font-size:1.1rem;
      }
    }

    section {
      width:96vw !important;

      article {
        width:95vw !important;
        margin:auto;
        
        &.block {
          width:95vw !important;
        }
      }
    }

    .beloved-block {
      &:after {
        width:94vw !important;
      }
    }
  }

  .generator {
    width:97% !important;
    padding-right:0rem !important;
    padding-left:1.5rem !important;

    .large-range {
      width:14rem !important;

      input[type='range'] {
        width:14rem !important;
      }
    }
  }

  .gradient {
    .color12 {
      gap:2rem;
      flex-wrap:wrap;
    }

    .configuration-gradient {
      div {
        width:14rem !important;
      }

      .color2 {
        margin-left:12.3rem !important;
      }
    }
  }

  .wrap-border {
    width:16rem;
    justify-self:left;
    gap:.5rem;

    .color-acessa {
      margin-top:-.5rem !important;
      margin-bottom:1rem;
    }
  }

  code {
    width:95% !important;

    button {
      margin-left:90% !important;
      margin-top:-3rem !important;
      transform:rotate(90deg);
    }
  }
}

@media (max-width:21.6rem) {
  body {
    code {
      width:14rem !important;
  
      button {
        margin-left:11.5 !important;
        margin-top:-3rem !important;
      }
    }
    
  }
}


