@import 'config';

* {
  margin:0;
  border:0;
  box-sizing:border-box;
  font-family:$main-font;
  color:$main-black;
}

body {
  overflow-x:hidden;
  overflow-y:auto;
  background:$main-white;
  scrollbar-width:thin;
  scrollbar-color:#7c6a6a;

  &::-webkit-scrollbar {
    width:.43rem;
  }

  &::-webkit-scrollbar-track {
    background:$white-overtone;
  }

  &::-webkit-scrollbar-thumb {
    background:$main-black;
    background:$main-black;
    border-radius:0 0 0 .1rem;
    border:.375rem solid $main-black;
  }

  &, main, header, .beloved-block {
    display:grid;
    place-items:center;
  }

  main {
    max-width:78rem;
    gap:2.5rem;
    animation:show-content .6s linear forwards;
  }

  section {
    display:flex;
    gap:6rem;
  }

  .gradient-effect {
    position:fixed;
    width:100vw;
    height:100vh;
    animation:animateToSize 36s linear infinite;
    background-image:$animate-gradient;
    background-size:100% 1100%;
    top:0;
    left:0;
    z-index:-2;
  }
}

@import 'media';
@import 'header';
@import 'block';

@import 'generator';
@import 'gradient';
@import 'text-code'
